# History files
.RHistory
.RData
.Rapp.history

# Example code in package build process
*.*~
.Rproj.user

# Local package copy for autotest
.local/*

# Ignore plots created by testing functionality
tests/testthat/*.pdf

# Ignore example raw data
*.dxf

# Ignore cache
cache/*

# Ignore temp file
temp/*

# Ignore raw test data
raw_data/*

# Ignore exports
*.xlsx

