# History files
.History
*.Rproj

# Example code in package build process
.R*
*.*~
.Rproj.user

# Local package copy for autotest
.local/*

# Ignore plots created by testing functionality
tests/testthat/*.pdf

# Ignore example data for now (seems a bit large for git repository)
*.dxf
